@import 'bootstrap/dist/css/bootstrap.css';
/* Możesz dodać własne style niestandardowe poniżej */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}
.btn
{
    background-color: #50caf3;
}

.container {
    margin-top: 20px;
}
h1 {
    color: blue;
}

/* Przykładowe style dla komponentów */
.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-bottom: 20px;
}
